{{ partial "header.html" . }}

<header class="intro-header short">
    <div class="container short" >
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Documentation</h1>
            </div>
        </div>
    </div>
</header>

    <div class="container">

		<div class="row">

			<div class="col-md-8 col-md-offset-1">
	            {{ partial "languages" . }} {{ partial "breadcrumbs" . }}
	        </div>
	        <div class="col-md-2">
	            {{ partial "documentation/search" }}
	        </div>


		</div>
		<div class="row">
			<div style='display:none;' id='documentation-nav-burger' class='col-md-12'>
				<div class="nav-burger">
				    <span></span>
				    <span></span>
				    <span></span>
				</div>
				 <div class='nav-label'>Documentation Menu</div>
			</div>
		</div>

	    <!-- Main Content -->

		<div class="row" id="documentation-content">

			<div class="col-md-3 col-md-offset-1 hidden-print" id="menu">
				{{ partial "documentation/menu" . }}
			</div>

			<div class="col-md-7" id="content">

				<h2>{{ .Title }}<a href='{{ .RelPermalink }}'><i class='fas fa-link'></i></a></h2>

				{{ if .Params.toc }}
				<!-- start TOC -->
				{{ partial "table-of-contents" . }}
				<!-- end TOC -->
				{{ end }}


				{{ if not .Params.nomenu }}
				<div class="row">
					<div class='nav-buttons'>
			        	<a class="btn btn-primary btnPrevious" ></a>
						<a class="btn btn-primary btnNext" ></a>
					</div>
				</div>
				{{ end }}
				{{ .Content }}


				{{ if not .Params.nomenu }}
				<div class="row">
					<div class='nav-buttons'>
			        	<a class="btn btn-primary btnPrevious" ></a>
						<a class="btn btn-primary btnNext" ></a>
					</div>

				</div>
				{{ end }}

			</div>

		</div>

		{{ partial "infoline.html" . }}

    </div>


{{ partial "footer.html" . }}
