{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="documentation-page-heading">
                	<h1>Documentation</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <strong><i class="fa fa-clock-o reading-time" aria-hidden="true"></i>&nbsp;{{ .ReadingTime }} minute read.</strong>
              <div class="labs-wrapper">
                  {{ .Content }}
              </div>
            </div>
        </div>
        <div class="row">
          <div>Last modified: {{ .Lastmod.Format "2006-01-02" }}.</div>
        </div>
    </div>


{{ partial "footer" . }}
