<div class="breadcrumb-wrap" role="navigation" aria-label="breadcrumbs navigation">
    {{ $.Scratch.Set "path" "" }}
    <ul class="wy-breadcrumbs">
        <li><a href="{{ .Site.BaseURL }}">Home</a>{{ if not (eq .Permalink "/")  }}<span>&gt;</span>{{ end }}</li>
        {{ range $index, $element := split .RelPermalink "/" }}

            {{ $.Scratch.Add "path" $element }}

            {{ $.Scratch.Set "relURL" (replace ($.Scratch.Get "path") ( printf "%s/" $.Site.BaseURL) "" )}}

            {{ $.Scratch.Add "path" "/" }}

            <!-- Check if the current list item is the last one -->
            {{ $isLast := eq ($.Scratch.Get "path") $.RelPermalink }}
            {{ if ne $element "" }}
                {{ if not $isLast }}
                    {{ if eq (title ( replace . "-" " ")) "Categories" }}
                        <li><a href='/blog/'>Blog</a><span>&gt;</span></li>
                    {{ else if eq (title ( replace . "-" " ")) "Archives" }}
                        <li><a href='/blog/'>Blog</a><span>&gt;</span></li>
                    {{ else if eq (title ( replace . "-" " ")) "Authors" }}
                        <li><a href='/blog/'>Blog</a><span>&gt;</span></li>
                    {{ else }}
                        <li><a href='{{ $.Scratch.Get "path" }}'>{{ with $.Site.GetPage "section" ($.Scratch.Get "relURL") }}{{ .Title }}{{ end }}</a><span>&gt;</span></li>
                    {{ end }}
                {{ else }}
                    <li>{{ $.Title }}</li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>

</div>

{{ partial "doi-display" . }}