{{ $.Scratch.Set "catcount" .Site.Params.MaxCategoryCount }}
{{ partial "catfix" $ }}
<section>
  <div class="blog-box">

          <h2>Categories</h2>          
            <ul class="blog-categories">
              {{ range .Site.Taxonomies.categories.ByCount }}

                {{ if (ge .Count ($.Scratch.Get "catcount")) }}
                    <li><a href="/categories/{{ .Term | urlize }}">{{ default (title ( replace .Term "-" " ")) (index ($.Scratch.Get "catfix") (title ( replace .Term "-" " "))) }}</a> ({{ .Count }})</li>
                {{ end }}

              {{ end }}
            </ul>

  </div>
  <div class="blog-box">

          <h2>Archives</h2>          
            <ul class="blog-categories">
              {{ $data := .Site.Taxonomies.archives.Alphabetical.Reverse }}
              {{ range $data }}

                    <li><a href="/archives/{{ .Term | urlize }}">{{ .Term }}</a> ({{ .Count }})</li>

              {{ end }}
            </ul>
            
  </div>
</section>