<p>
    {{ if isset .Params "date" }}
        {{ if isset .Params "author"}}
        	Page owner: {{.Params.author}} &nbsp; | &nbsp; Last updated {{ dateFormat "2006-January-02" .Params.date }}
        {{ else }}
        	Last updated: {{ dateFormat "2006-January-02" .Params.date }}
        {{ end }}
    {{end}}
    {{ if and ( isset .Params "doi" ) ( isset .Site.Params "DOISearchBaseURL" ) }}
    	<a href="{{ .Site.Params.DOISearchBaseURL }}{{ .Params.doi }}">DOI</a>
    {{end}}
</p>
