 <div class="social-icons">
 	{{ range .Site.Params.social }}
 		<a {{ if .rel }}rel='{{.rel}}'{{ end }} href='{{ .url }}'>
 			<i class="fab fa-{{ .title }}" aria-hidden="true"></i>
 		</a>
	{{ end }}
</div>