#cookie-bar {
	z-index:1000;
	background:$crossref-yellow;
	height:auto;
	line-height:36px;
	color:#000;
	text-align:center;
	padding:3px 0;	
	a {
		color:#000;
		text-decoration:underline;
		&:hover {
			color:$crossref-red;
			text-decoration:none;
		}
	}
}
#cookie-bar.fixed {
	position:fixed; 
	bottom:0; 
	left:0; 
	width:100%;
	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    animation: slideOnLoad 1s 1;
    -webkit-animation: slideOnLoad 1s 1;
}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar .cb-enable {background:$crossref-red; color:#ffffff;display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px; transition: background-color $transition-time linear;}
#cookie-bar .cb-enable:hover {background:$crossref-blue; color:#ffffff;}
#cookie-bar .cb-disable {background:$crossref-red;}
#cookie-bar .cb-disable:hover {background:$crossref-red;}
#cookie-bar .cb-policy {background:$crossref-red;}
#cookie-bar .cb-policy:hover {background:$crossref-red;}

@keyframes slideOnLoad
{
    0% {bottom:-36px;}
    100% {bottom:0px;}
}
@-webkit-keyframes slideOnLoad
{
    0% {bottom:-36px;}
    100% {bottom:0px;}
}