.intro-header {
	position: relative !important;
}

.intro-header .caption {
	position: absolute;
	bottom: 1em;
	right: 1em; 
	color: rgb(255, 255, 255); 
	text-shadow: 1px 1px 3px #000;
	text-align: right;
	font-size: .9em;
	
	@media (max-width: 768px) {
		display: none;
	}
}