.jf-accordion {

  font-family: $font-regular;

  .jf-accordion-steps {

    .jf-accordion-step {

      &.jf-accordion-step-1 {
        padding-bottom: 50px;
      }

      .jf-accordion-step-title {

        padding: 20px 0;
        display: block;
        border-top: 1px solid #EFEFEF;
        border-bottom: 1px solid #EFEFEF;

        h4 {

          font-family: $font-bold;
          font-size: 20px;
          color: #D2D2D2;
        }
      }

      .jf-accordion-step-body {

        h4 {

          font-family: $font-regular;
          font-size: 18px;
          color: #161616;
        }

        hr {
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #c0c0c0 !important;
        }



        width: 381px;

        @media all and (max-width: 991px){
          width: 100%;
        }
        margin-top: 50px;

        @media all and (max-width: 509px){
          width: 100%;
        }

        label {
          font-size: 16px;
          margin-bottom: 15px;

          &.error, &.error-ignored {
            color: $crossref-red;
            font-size: 12px;
            display:block;
          }
        }
        input {

          &[type=text],
          &[type=url],
          &[type=email] {
            width: 100%;
            display: block;

            height: 38px;
            line-height: 38px;
            border: 1px solid #ABABAB;
            padding-left: 10px;
            font-family: $font-regular !important;
            font-weight: 300 !important;

            &.error {
              border: 1px solid $crossref-red;
            }

            &:focus {
              border: 1px solid $joinflow-blue;
            }
            
            &[readonly] {
	          border: 1px solid #ABABAB !important;
	          background-color: #efefef !important;
	          color: $crossref-darkgrey !important;
            }
            
          }

          &[type=checkbox] {
            display: none;
            margin: 0 0 0 15px;

            + span {
              display: inline-block;
              width: 14px;
              height: 14px;
              margin: -2px 17px 0 0;
              vertical-align: middle;
              background: url(../img/square_checkbox_sprite_sm.svg) 0 0 no-repeat;
              background-size: cover;
              cursor: pointer;
            }

            &:checked + span {
              background: url(../img/square_checkbox_sprite_sm.svg) 0 -14px no-repeat;
              background-size: cover;
            }
          }

        }

        select {

          -webkit-appearance: none;
          -moz-appearance: none;
          height: 38px;
          line-height: 38px;
          padding-left: 10px;
          border: 1px solid #ABABAB;
          border-radius: 0;
          width: 100%;
          display: block;
          background: $white url("../img/jf-select-caret.jpg") no-repeat right 39px center;
          font-family: $font-regular !important;
          font-weight: 300 !important;
          &.multiselect {
            height:10em;
            background-image:url();
          }
        }

        &.jf-wide {
          width: 810px;

          @media all and (max-width: 991px){

            width: 100%;

          }
        }
      }
    }
  }
}

.accordion-type {
  select {

          -webkit-appearance: none;
          -moz-appearance: none;
          height: 38px;
          line-height: 38px;
          padding-left: 10px;
          border: 1px solid #ABABAB;
          border-radius: 0;
          width: 100%;
          display: block;
          background: $white url("../img/jf-select-caret.jpg") no-repeat right 39px center;
          font-family: $font-regular !important;
          font-weight: 300 !important;
        }
}

// ==============================================
// Step 4 Contacts
// ==============================================

.jf-contacts-container {

  .jf-contact {

    .jf-contact-title {

        margin-bottom: 40px;
        font-family: $font-regular;
        font-size: 16px;
    }
  }
}

// ==============================================
// JoinFlow Contacts Form
// ==============================================

.jf-contact-form-wrap {

  margin: 0 0 20px 0;
  padding: 0 !important;

  @include clearfix();
  width: 100%;
  display: block;
  list-style: none !important;

  li {

    width: calc(48% - 15px);
    display: block;
    float: left;


    @media all and (max-width: 991px){

      float: none;
      width: 100% !important;

      &::before{
        padding: 0;
        content: "";
        display: block !important;
      }

    }

    &:first-child,
    &:nth-child(3) {
      margin-right: 52px;
    }

    &:before {
      content: ' ' !important;
    }
  }
}

// ==============================================
// Agreements
// ==============================================

.jf-agreement-body {

  .jf-agreement-question {

    h6 {
      font-size: 18px;
      font-family: $font-bold;
      font-weight: normal;
    }
  }

  .jf-agreement-text {

    p {
      font-family: $font-regular;
      font-size: 14px;
      font-weight: 300;
      font-style: normal !important;
    }
  }

  .jf-agreement-checkbox {

    input {

      &[type=checkbox] {
        opacity:0;
        filter:alpha(opacity=0);
        position:absolute;
        margin: 0 0 0 26px;

        + span {
          display: inline-block;
          width: 26px;
          height: 26px;
          margin: -2px 27px 0 0;
          vertical-align: middle;
          background: url(../img/square_checkbox_sprite.svg) 0 0 no-repeat;
          background-size: cover;
          cursor: pointer;
        }

        &:checked + span {
          background: url(../img/square_checkbox_sprite.svg) 0 -26px no-repeat;
          background-size: cover;
        }
        &:focus + span {
          background: url(../img/square_checkbox_sprite.svg) 0 -26px no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

// ==============================================
// Table
// ==============================================

table.jf-membership-table {
  table-layout: fixed;
  width: 78%;

  @media all and (max-width: 991px){

    width: 100%;
  }
  tr {

    background: $white;

    td {
      &:last-child {

        .jf-btn-small{
          max-width: 100px;
        }
      }
      &.membership_org_type {
        text-transform: capitalize;
      }
    }
  }
}
