#crossref-team-speaker-bios {

  margin-bottom: 46px;
}

.our-speakers-single {

  @include clearfix();

  img {
    max-width: 100%;
    width: 100%;

    @media all and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }

  h2.fullname {
    margin: 0;
  }

  .job-title {
    margin-bottom: 10px;
  }

 
  .topics {
    list-style: none;
    padding-left: 0;

    li {

      display: inline-block;
      font-size: 12px;
      padding: 0;

      &:after {
        content: ",";
        margin-right: 4px;
      }

      &:before {
        display: none;
      }

      &:last-child {

        &:after {
          content: " ";
        }
      }
    }
  }
}