{{ partial "header.html" . }}

{{ partial "page-banner-blog.html" . }} 

{{ $.Scratch.Set "authorname" .Title }}

{{ $fields := getJSON "/data/team/biographies.json" }}

{{ if index $fields ( $.Scratch.Get "authorname" ) }}
        {{ $.Scratch.Set "authorbio" ( index $fields ($.Scratch.Get "authorname") ) }}
{{ else if index $fields ( $.Scratch.Get "authorname" | lower ) }}
        {{ $.Scratch.Set "authorbio" ( index $fields ( $.Scratch.Get "authorname" | lower ) ) }}
{{ else }}
        {{ $.Scratch.Set "authorbio" ( index $fields "Crossref" ) }}
{{ end }} 

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                {{ partial "breadcrumbs" . }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-1 content-column">
                <h2>{{ .Title }}</h2>
                
            	{{ if index ( $.Scratch.Get "authorbio" ) "bio" }}
                    <p class='authorbio'>
            		{{ index ( $.Scratch.Get "authorbio" ) "bio" | markdownify }}
                    </p>
            	{{ else }}
            		
            	{{ end }}
                <p>
                {{ if index ( $.Scratch.Get "authorbio" ) "bio" }}
                    {{ if index ( $.Scratch.Get "authorbio" ) "staff" }}
                        <a href='/people/{{ string ( $.Scratch.Get "authorname" ) | plainify | urlize }}' alt='{{ string ( $.Scratch.Get "authorname" ) }}'>
                        Read more about {{ ( $.Scratch.Get "authorname" ) }} on their team page.</a>
                    {{ end }}
                {{ end }}
                </p>
                
                {{ range .Paginator.Pages }}
                {{ .Render "archive_single" }}
                {{ end }}
                {{ template "_internal/pagination.html" . }}
            </div>
            <div class="col-md-2">                
                {{ partial "blog/sidebar" . }}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
<script>
    jQuery(document).ready(function () {
      $(".authorbio").text(function(index, currentText) {
        return currentText
                 .split('.',1)+'…'; //create array of the first sentence
                 
      });
    });
</script>
