<div class="first clearfix">
	<h2><a href="{{ .Permalink }}">{{ .Title |markdownify}}</a></h2>
	<div class="details-wrapper clearfix">
		{{if .Params.author }}{{ partial "author-bio" . }}{{ end }}
	</div>
	<div class="blog-copy">
		<p>{{ .Summary }}</p>
	</div>
</div>
