{{ partial "header" . }}
{{ partial "page-banner" . }}
     <!-- Main Content -->
    <div class="container">
    	<div class="row">
    		<div class="col-md-10 col-md-offset-1">
				{{ partial "breadcrumbs" . }}
    		</div>
    	</div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ .Content }}               
            </div>
        </div>
		{{ partial "infoline.html" . }}
    </div>



{{ partial "footer.html" . }}

