<div class='documentationsearchouter'>
	<form class='documentationsearch' action='/site-search/' method='get'>
		<input type='hidden' name='refinementList[section][0]' id='refinementList[section][0]' value='Documentation'/>
		<input placeholder='Search this section' type='text' name='query' id='howcanwehelptopsidebar'>
	</form>
</div>