{{ $page := .page }}
{{ $site := .site }}
{{ $global := .global }}
{{ range .menu }}
    
    Running for {{ $page.Title }}<br />
    {{ if .HasChildren }}
        <div class="row">
            <div class="col-md-3 in-page-nav">
                Has Kids
            </div>
        </div>
    {{ else }}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ $page.Title }}No kids
            </div>
        </div>
    {{ end }}

    {{ if .HasChildren }}
        RECURSED---
        {{ partial "userdocs/menu.html" (dict "menu" .Children "page" $page "site" $site  "global" $global ) }}
    {{ end }}
{{ end }}