@charset "UTF-8";

/* SOME VARIABLES */
$crossref-red: #ef3340;
$crossref-darkgrey: #4f5858;
$crossref-yellow: #ffc72c;
$crossref-blue: #3eb1c8;
$crossref-green: #00ab84;
$crossref-lightgrey: #d8d2c4;
$crossref-darkyellow: #ffa300;
$crossref-darkred: #a6192e;
$crossref-darkblue: #005f83;
$crossref-darkbeige: #a39382;
$crossref-orange: #fd8332;
$generic-lightgrey: #f3f3f3;
$transition-time: 0.1s;
$white: #fff;


// To try a different font stack just uncomment the one you wish to use, and then comment out the two others

// HELVETICA NEUE FONTS
$alt-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;$font-light: "HelveticaNeueETW01-45Lt", $alt-font-stack;$font-light-italic: "HelveticaNeueETW01-46Lt", $alt-font-stack;$font-regular: "HelveticaNeueETW01-55Rg", $alt-font-stack;$font-regular-italic: "HelveticaNeueETW01-56Rg", $alt-font-stack;$font-medium: "HelveticaNeueETW01-65Md", $alt-font-stack;$font-medium-italic: "HelveticaNeueETW01-66Md", $alt-font-stack;$font-bold: "HelveticaNeueETW01-75Bd", $alt-font-stack;$font-bold-italic: "HelveticaNeueETW01-76Bd", $alt-font-stack;

// ATKINSON HYPERLEGIBLE FONTS
//$alt-font-stack: "AH-Regular", Helvetica, Arial, sans-serif;$font-light: "AH-Regular", $alt-font-stack;$font-light-italic: "AH-RegularItalic", $alt-font-stack;$font-regular: "AH-Regular", $alt-font-stack;$font-regular-italic: "AH-RegularItalic", $alt-font-stack;$font-medium: "AH-Bold", $alt-font-stack;$font-medium-italic: "AH-BoldItalic", $alt-font-stack;$font-bold: "AH-Bold", $alt-font-stack;$font-bold-italic: "AH-BoldItalic", $alt-font-stack;

// FE ME FONTS (Trial, missing come characters)
// $alt-font-stack: "FSMeTrial-Regular", Helvetica, Arial, sans-serif;$font-light: "FSMeTrial-Light", $alt-font-stack;$font-light-italic: "FSMeTrial-LightItalic", $alt-font-stack;$font-regular: "FSMeTrial-Regular", $alt-font-stack;$font-regular-italic: "FSMeTrial-RegularItalic", $alt-font-stack;$font-medium: "FSMeTrial-Bold", $alt-font-stack;$font-medium-italic: "FSMeTrial-BoldItalic", $alt-font-stack;$font-bold: "FSMeTrial-Heavy", $alt-font-stack;$font-bold-italic: "FSMeTrial-HeavyItalic", $alt-font-stack;

// INTER FONTS
$alt-font-stack: "Inter-Regular", Helvetica, Arial, sans-serif;$font-light: "Inter-Light", $alt-font-stack;$font-light-italic: "Inter-LightItalic", $alt-font-stack;$font-regular: "Inter-Regular", $alt-font-stack;$font-regular-italic: "Inter-Regular", $alt-font-stack;$font-medium: "Inter-Medium", $alt-font-stack;$font-medium-italic: "Inter-MediumItalic", $alt-font-stack;$font-bold: "Inter-Bold", $alt-font-stack;$font-bold-italic: "Inter-BoldItalic", $alt-font-stack;



@import
"partials/fonts",
"partials/nav",
"partials/nav2019",
"partials/header",
"partials/share-this",
"partials/hcwh",
"partials/joinflow-steps",
"partials/joinflow-questions",
"partials/joinflow-accordion",
"partials/swal",
"partials/helpers",
"partials/staff",
"partials/our-speakers",
"partials/home",
"partials/fancybox",
"partials/algolia",
"partials/in-page-nav",
"partials/contact",
"partials/pagination",
"partials/cookies",
"partials/labs",
"partials/print",
"partials/accordion",
"partials/table-borders",
"partials/shortcodes",
"partials/datatables",
"partials/toc",
"partials/documentation",
"partials/tabs",
"partials/icons",
"partials/strategy",
"partials/typeahead",
"partials/metadata-agreement",
"partials/image-captions";

/* BROWSER OVERRIDES  */
::-moz-selection {
  /* Code for Firefox */
  background: $crossref-lightgrey; /* this colour is the lighter brand-blue of Crossref */
}

::selection {
  background: $crossref-lightgrey;
}


input {

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $crossref-darkgrey;
      opacity: .4;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $crossref-darkgrey;
      opacity: .4;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $crossref-darkgrey;
      opacity: .4;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $crossref-darkgrey;
      opacity: .4;
    }

}

/* BASE STYLES */
* {
  margin: 0;
  font-weight: normal;
}

#wrap {
  width: 100%;
  background-color: #fff;
  margin: auto;
  max-width: 750px;
}

#container {
  padding: 200px 20px 20px;
}

body {
  font-family: $font-regular;
  line-height: 1.7em;
  margin: 0;
  color: $crossref-darkgrey;
  overflow-x: hidden;
}

p {
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  line-height: 1.4em;
}

h1, h2, h3 {
  font-family: $font-regular;
}

h4, h5, h6 {
  font-family: $font-medium;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 17px;
}

table {
	margin-bottom: 1em;
}

div.container ul, div.container ol {
  margin: 0 0 2em 0;
  padding: 0 0 0 1.5em;

  ul, ol {
    margin-bottom: 0;
  }

  li {

	  p:last-of-type {
		  margin-bottom: 0;
	  }
  }

}
div.container ul {
  list-style-type: disc;
}

.shortcode-row {
  &:before, &:after {
    display:table;
    content:" ";
  }
  &:after {
    clear:both;
  }
}
.columns_2 p, .columns_3 p {
  margin-top: 0;
}

#tabs-search {
  margin:0 !important;
  padding: 0 !important;
  width: 100%;
  a {
    color: #fff;
    display: block;
    text-decoration: none;
    outline: none;
    &.active {
      color: #000 !important;
    }
  }

  li {
    display: inline-block;
    float: left;
    padding: 0;
    width: 50%;
    margin:0 0 8px 0 !important;
    text-align: center;
    background-color: rgba(89, 89, 89, 0.85);;
    &:before {
      content: '';
    }
    &.active {
      background-color: transparent;
    }
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }

}



/* All navbar CSS now exists solely in the nav mixin */


a, p a {
  color: #3db0c7;
  text-decoration: none;
  transition: color $transition-time linear;
}

a:hover, p a:hover {
  color: #e63642;
  text-decoration: none;
}

b, strong {
  font-family: $font-bold;
  font-weight: normal;
}

td, th {
  padding: 3px 8px;
  vertical-align: top;
}

thead tr, thead tr:hover {
  background-color: $crossref-blue;
  border: 1px solid $crossref-blue;
  color: #fff;
}

tr:nth-child(2n+2) {
  background-color: $generic-lightgrey;
}

table.no-zebra tr:nth-child(2n+2) {
  background-color: #fff;
}

/* PAGINATION */
div.container ul.pagination {
  li {
    display: inline;
    &:before {
      content: "";
    }
  }
}


.indent-block {
	margin-left: 2em;
}

.authorbio {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Give content some space from right-side nav */
.content-column {
  padding-right: 3em;
}


/* BREADCRUMBS */
div.container ul.wy-breadcrumbs {
  display: table;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  font-size: 11px;
  line-height: 10px;
  margin-top: 25px;
  margin-bottom: 11px;
  li {
    display: inline;
    line-height:1.4em;
    padding: 0;
    &:before {
      content: "";
    }
    span {
      padding: 0 6px;
      display:inline-block;
    }
    &:last-child {
      font-family: $font-bold;
    }
  }

  a {
    color: #4d585a;
  }
  a:hover {
    color: #e63642;
  }
}

div.breadcrumb-wrap {
  margin-bottom: 2em;
}

div.doi-wrap {
  margin-bottom: 2em;

  .site-logo {
	  margin-right: .5em;
  }

  a {
	  vertical-align: middle;
  }
}

.reading-time {
  font-size: 20px !important;
  top: 2px;
  position: relative;
}
/* MASONRY on stats page */
.height-md-3 {
  height: 300px;
}

.height-md-2 {
  height: 200px;
}

.height-md-1 {
  height: 100px;
}

.dashboard-counts {
  color: #fff;
  text-align: center;
  border: 3px solid #fff;

}

.dashboard-hover, .staff-hover, .staff-single:hover .staff-hover {
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.dashboard-hover {
  background-color: #fff;
  opacity: 1;
}

.staff-hover {
  background-color: $crossref-blue;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.dashboard-counts:hover .dashboard-hover {
  opacity: 0.15;
}

.staff-single:hover .staff-hover {
  opacity: 0.5;
}

.dashboard-counts .description {
  visibility: hidden;
  padding: 0 20px;
}

.dashboard-counts:hover .description, {
  visibility: visible;
}

.dashboard-counts:hover .dashboardmore, .staff-single:hover .staffmore {
  visibility: visible;
  right: 0;
  bottom: 0;
}

.staff-single:hover .staffmore {
  visibility: visible;
  right: 16px;
  bottom: 155px;
}

.dashboardmore, .staffmore {
  position: absolute;
  margin-right: 5px;
  visibility: hidden;

  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.staffmore {
  right: -8px;
  bottom: 66px;
  color: white;
}

.dashboardmore {
  bottom: -24px;
  right: -24px;
}

.bignumber {
  width: 100%;
}

.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


/* BLOG SECTION SPECIFIC */

.details-wrapper .img {
  float: left;
  display: inline;
  margin: 0 1em 1em 0;
}

.details-wrapper .img img {
  border-radius: 50%;
}

.details {
  float: left;
  display: inline;
  width:100%;
}

.details p {
  font-size: 12px !important;
  line-height: 14px !important;
  margin: 0 0 4px;
}

.details a {
  font-size: 12px !important;
  line-height: 14px !important;
  text-decoration: underline;
  margin: 0 !important;
  padding: 0 !important;
}

.blog-copy.half {
  float: left;
  width: 50%;
}

.feature-img {
  float: left;
  width: 50%;
}

.feature-img img {
  float: right;
}

.blog-copy h2 {
  margin: 0 0 30px;
}

.blog-copy h3 {
  font-size: 17px;
  line-height: 17px;
  font-weight: 800;
  margin: 0 0 10px;
}

.blog-copy a {
  /*color:#4f5758;*/
  text-decoration: underline;
}

.blog-comment {
  margin: 40px 0;
  padding: 24px 0 0;
  border-top: 1px solid #4f5758;
}

.blog-comment p {
  font-size: 13px;
  margin: 0;
}

span.required {
  color: #39b1c8;
}

form#comment {
  margin-top: 40px;
}

form#comment input[type="text"] {
  width: 100%;
  height: 32px;
  background: #f9f9fa !important;
  border: none;
  border-radius: 0;
  margin: 0 0 24px;
  color: #4f5758;
  padding: 0 10px;
  -webkit-appearance: none;
}

form#comment input[type="submit"] {
  display: inline-block;
  padding: 12px;
  line-height: 18px;
  font-size: 18px;
  font-family: $font-bold;
  color: #fff;
  border: none;
  text-align: center;
  background: #4f5758;
}

form#comment textarea {
  width: 100%;
  height: 120px;
  background: #f9f9fa;
  border: none;
  margin: 0 0 24px;
  padding: 6px 10px;
}

form#simcheckform,
form#simcheckform table tr {
	background-color: $generic-lightgrey;
}

form#simcheckform {
  border-radius: 4px;
}

form#simcheckform input[type="submit"]:disabled {
  display:none;
}

.blog-box {
  margin: 0 0 3em;
}

div.container .blog-box ul li,
div.container .blog-box ol li {
    padding: 0 0 .25em 0;
}

.blog-box h2,
.filters h4 {
  font-size: 18px;
  margin-bottom: 1em;
  font-family: $font-regular;
  color: $crossref-red;
}

.blog-box h2.blue {
  color: $crossref-blue;
}

.blog-box h2.red {
  color: $crossref-red;
}

.blog-box .item {
  margin: 0 0 20px;
}

.blog-box p.headline {
  line-height: 1.2em;
  margin-bottom: 0;
  a {
    color: $crossref-darkgrey;
  }
  a:hover {
  	color:$crossref-red;
	text-decoration: underline;
  }
}

.filters label {
	font-weight: normal;
}

p.date {
  font-size: 11px;
  line-height: 16px;
  color: #9c9d9e;
  margin: 0;
}

div.container ul.blog-categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.blog-categories li:before {
  content: "" !important;
}

ul.blog-categories li {
  display: block !important;
  a {
  	color: $crossref-darkgrey;
	}
  a:hover {
	color:$crossref-red;
	text-decoration: underline;
  }
}

.category-link + .category-link:before {
    content: ", "
}


/* HOME PAGE HEADER */
.quicklinks-bar {
  color: white;
  background: $crossref-darkgrey;
  margin-top: 15px;
  position: absolute;
  z-index: 10;
  width: 165px;
  height: 30px;
  right: 0;
  transition: background-color $transition-time linear;

  .quicklinks-icon {
    position: relative;
    top: 3px;
    width: 15px;
    height: auto;
    color: $white;
    margin-right: 5px;
    transition: all .1s linear;
  }

  a {
    display: block;
    padding-left: 10px;
    font-size: 13px;
    font-family: $font-medium;
    line-height: 30px;

    &.apply {
      background-color: $crossref-yellow;
      color: $crossref-darkgrey;

	  .quicklinks-icon {
	  	fill: $crossref-darkgrey;
	  }
    }

    &.members {
      background-color: $crossref-red;
      color: $white;

	  .quicklinks-icon {
	  	fill: $white;
	  }
    }

    &.documentation {
      background-color: $crossref-lightgrey;
      color: $crossref-darkgrey;

	  .quicklinks-icon {
	  	fill: $crossref-darkgrey;
	  }
    }

    &.forum {
      background-color: $crossref-blue;
      color: $white;

    .quicklinks-icon {
      fill: $white;
    }
    }

    &:hover {
      .quicklinks-icon {
        fill: $crossref-darkgrey;
      }
      color: $crossref-darkgrey;
      /*border-left: 4px solid $crossref-yellow;
      background-color: $crossref-darkgrey;*/
      background-color: $white;
    }
  }
}

#search {
  position: relative;
  /*z-index:999;*/
  background-color: $white;
  border-radius: 5px;
  width: 100%;
  height: 88px;
  margin: 0 auto;
  .fa {
    color: #000;
    font-size: 40px;
  }
}

.homepage-special p {
  font-family: $font-regular !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;

  @media (max-width: 400px) {
	  font-size: 15px !important;
  }
}

#howcanwehelp, #metadatasearchbox {
  float: left;
  display: inline-block;
  padding: 0;
  border: 0;
  color: #4f5859;
  padding-left: 70px;
  background: transparent;
  background-image: url(../img/magnifying-glass.svg);
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 30px !important;
  font-size: 19px;
  width: 100%;
  height: 46px;
  line-height: 46px;
  z-index: 2500;
  position: relative;

  @media (max-width: 400px) {
	  font-size: 16px;
	  padding-left: 55px;
	  background-size: 25px !important;
  }

}

#howcanwehelp:focus, #metadatasearchbox:focus {
  background-image: none;
  padding-left: 10px;
}

.top-search #howcanwehelp {
  margin-left: 0;
  font-size: 16px;
  height: 30px;
  background-size: 16px;
  padding-left: 25px;
  width: 250px;
}

.top-search #howcanwehelp:focus {
  background-image: inherit;
  border: 1px solid black;
  padding-left: 0;
}

#search label {
  float: left;
}

span.howcanwehelp-mag-glass {
  display: inline-block;
  margin-left: 10px;
  width: 32px;
  height: 46px;
  background-image: url(../img/magnifying-glass.svg);
  background-position: 0 center;
  background-repeat: no-repeat;
}

span.metasearch-mag-glass {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-image: url(../img/mag-glass-yellow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.intro-header .site-heading .subheading {
  margin: 120px 0 0;
}

.metasearchbox {
  margin: 0 auto;
  width: 292px;
  background: #fff;
  color: #4f5757;
}

#metasearch {
  border: 0;
  width: 246px;
  height: 32px;
  padding: 0 0 0 15px;
  color: #4f5859;
}

.metasearchbox label {
  border: 0;
  color: #fbc52d;
  background-color: #4f5757;
  padding: 0;
  margin: 0;
  height: 32px;
  float: right;
}

input:focus, input:active {
  outline: 0;
}

.filters input[type=checkbox],
.filters input[type=radio] {
	margin-right: 8px
}

#howcanwehelp::-webkit-input-placeholder, #metadatasearchbox::-webkit-input-placeholder {
  color: #4f5859;
}

#howcanwehelp:-moz-placeholder, #metadatasearchbox:-moz-placeholder { /* Firefox 18- */
  color: #4f5859;
}

#howcanwehelp::-moz-placeholder, #metadatasearchbox::-moz-placeholder { /* Firefox 19+ */
  color: #4f5859;
}

#howcanwehelp:-ms-input-placeholder, #metadatasearchbox:-ms-input-placeholder {
  color: #4f5859;
}

#howcanwehelp:focus::-webkit-input-placeholder, #metadatasearchbox:focus::-webkit-input-placeholder {
  color: #ccc;
}

#howcanwehelp:focus:-moz-placeholder, #metadatasearchbox:focus:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

#howcanwehelp:focus::-moz-placeholder, #metadatasearchbox:focus::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}

#howcanwehelp:focus:-ms-input-placeholder, #metadatasearchbox:focus:-ms-input-placeholder {
  color: #ccc;
}

#metasearch::-webkit-input-placeholder {
  color: #4f5859;
}

#metasearch:-moz-placeholder { /* Firefox 18- */
  color: #4f5859;
}

#metasearch::-moz-placeholder { /* Firefox 19+ */
  color: #4f5859;
}

#metasearch:-ms-input-placeholder {
  color: #4f5859;
}

#metasearch:focus:focus:focus:focus::-webkit-input-placeholder {
  color: #ccc;
}

#metasearch:focus:focus:focus:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

#metasearch:focus:focus::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}

#metasearch:focus:-ms-input-placeholder {
  color: #ccc;
}

#email-signup::-webkit-input-placeholder {
  color: #fff;
}

#email-signup:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#email-signup::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}

#email-signup:-ms-input-placeholder {
  color: #fff;
}

.st-ui-embed {
  padding: 0 6px;
}

#results {
  color: #000;
  display: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2000;
}

#results ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#results ul li {
  margin: 0;
  width: 100%;
  display: block;
  font-size: 16px;
  border-top: 1px solid #B2B2B3;
}

#results ul li a {
  display: block;
  padding: 14px 0;
  color: #4F5859 !important;
  font-weight: 800 !important;
}

#results ul li a:hover {
  background: #F2F1F2;
}

#results ul li span {
  width: 68px;
  display: inline-block;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400 !important;
}

#results ul li:before {
  content: "" !important;
}

#results ul li:first-child {
  background: #4f5758;
  padding: 14px 0;
  color: #fff;
  padding-left: 68px;
  font-weight: 400 !important;
}

#results ul li:last-child a {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* HEADER GENERAL */
.intro-header.short {
  background-color: $generic-lightgrey;
  height: 120px;
}

.intro-header.short .container {
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
.intro-header.short .container h1 {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
  color: $crossref-darkgrey;
  &:before, &:after {
  	content:'';
  	display:inline-block;
  	width:.9em;
  	height:1.2em;
  	background-size:contain;
  	background-repeat:no-repeat;
  	vertical-align:sub;
  }
  &:before {
  	background-image:url("/img/banner_LeftArrow_v2.svg");
  	margin-right: .25em;
  }
  &:after {
  	background-image:url("/img/banner_RightArrow_v2.svg");
  	margin-left: .25em;
  }
  @media all and (max-width: 975px) {
    padding-top: 0;
  }
}

.container .page-heading h1 {
  color: #fff;
}

.page-heading  {
  display:block;
  z-index:100;
  position:relative;
}
.intro-header .overlay {
  display:block;
  overflow:hidden;
  position:relative;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.intro-header .overlay::after {
  display:block;
  top:-15%;
  left:-15%;
  transform:rotate(-15deg);
  content:'';
  z-index:3;
  height:160%;
  width:50%;
  position:absolute;
  @media all and (max-width: 780px) {
    background:rgba(255,199,44,0.75);
    width:90%;
    top:-60px;
    height:300%;
  }
}

.intro-header, .intro-header .container {
  background-size: inherit;
  -webkit-background-size: inherit;
  -moz-background-size: inherit;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-custom .navbar-brand {
  margin-top: 18px;
  margin-right: 15px;
}

.navbar-custom .navbar-brand {
  padding: 0;
}

.intro-header {
  background-color: #e0e0e0;
  margin-bottom: 0;
}

.intro-header .site-heading, .intro-header .page-heading {
  text-align: left;
}

/* FORMS */
#tabs {
  text-align: center;
  height: 650px;
  div {
    background-size: cover;
    height: 580px;
    position: absolute;
    top: 0;
    left: 0;
    width: 895px;
    margin: 40px 40px 40px 40px;
    .single {
      margin-top: 100px;
    }
    .multi {
      margin-top: 5px;
    }
    fieldset {
      margin: 56px auto 20px;
      width: 50%;
      text-align: left;
    }
    p {
      color: #3EB0CA;
      width: 400px;
      margin: 10px auto 0;
      font-weight: bold;
    }
    .helptext {
      font-size: 12px;
      width: 80%;
      margin-left: 10%;
      text-align: left;
      padding: 6px;

      background-color: #fff;
      border: 2px solid $crossref-blue;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      display: block;

    }
    .errortext {
      font-size: 14px;
      width: 80%;
      margin-left: 10%;
      margin-top: 10px;
      padding: 6px;

      background-color: #fff;
      border: 2px solid $crossref-red;
      color: $crossref-red;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      display: none;
    }
  }
}

#progress {
  display: block;
  width: 100%;
  bottom: 126px;
  position: absolute;
  height: 0;
}

.blueprogress, .greyprogress {
  width: 16.66%;
  display: block;
  float: left;
}

.blueprogress {
  border-top: 4px solid #3EB0CA;
}

.greyprogress {
  border-top: 4px solid grey;
}

.bluenum, .greynum {
  display: block;
  position: relative;
  top: -17px;
  color: #fff;

  height: 30px;
  width: 30px;
  line-height: 30px;

  -moz-border-radius: 15px;
  border-radius: 15px;

  color: white;
  margin: 0 auto;
}

.bluenum {
  background-color: #3EB0CA;
}

.greynum {
  background-color: grey;
}

button, .button {
  display: block;
  margin: 40px auto;
  background-color: #3EB0CA;
  padding: 10px 50px;
  color: #fff;
  border-radius: 25px;
  border-width: 0;
  transition: background-color $transition-time linear;
}

button:hover {
  background-color: #3EB0CA;
  color: #e0e0e0;
}

button:focus {
  border: 0;
}

.buttonspan {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  button {
    display: inline-block;
    margin: 40px 10px;
  }
}

div.joinlink {
  a {
    color: #fff;
  }
  button {
    background-color: $crossref-blue;
    &:hover {
      background: $crossref-darkgrey;
    }
  }
}

.question {
  color: #3EB0CA;
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin: 0 10%;
  padding-top: 60px;
}

.no-top-pad {
  padding-top: 0;
}

.boilerplate {
  color: #000;
}

::-webkit-input-placeholder {
  color: #CDE0E4;
}

:-moz-placeholder { /* Firefox 18- */
  color: #CDE0E4;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #CDE0E4;
}

:-ms-input-placeholder {
  color: #CDE0E4;
}

/* SOCIAL ICONS */
.social-icons {
  float: left;
  .fab {
    color: #e0e0e0;
    transition: color $transition-time linear;
  }
  .fab:hover {
    color: #000;
  }
}

.social-footer {
  display: none;
  .social-icons {
    float: none;
    .fa {
      font-size: 30px;
      padding: 0 10px;
    }
  }
}

.social-footer {
  padding: 10px 0;
  background-color: $crossref-lightgrey;
}

.footer-svg {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  margin-bottom: 3px;
}

/* TOP SEARCH */

.top-search {
  margin: 31px auto 0;
  max-width: 250px;

  @media all and (max-width: 551px) {
    max-width: 150px;
  }
}

/* INFOLINE */
.infoline div p {
  font-size: .8em;
  font-family: $font-regular;
  margin: 3em 0;
}

/* FOOTER */
footer {
  color: #fff;
}

.top-footer {
    background-color: #3db0c7;
    padding: 24px 0;
    font-size: 14px;

        div.row {

	        div:first-child {
				@media (min-width: 992px) {
	    	    	text-align: left;
	    		}
			}
		}

    div.home-slot {
        height: unset;
        text-align: center;
        margin-bottom: 0;

        .strap {
            font-family: $font-bold;
            font-size: 3em;
            letter-spacing: -.13rem;
            line-height: .7;
            opacity: .5;
        }
    }

  button {
    background: #4f5757;
    font-weight: 400;
    display: table;
    padding: 4px 16px;
    font-size: 13px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 4px 2px 0px #17A1BD;
    -moz-box-shadow: 0px 4px 2px 0px #17A1BD;
    box-shadow: 0px 4px 2px 0px #17A1BD;

  }
}

.signup-wrapper {
  display: table;
  margin: 0 auto;
  width: 210px;
  text-align: center;
}

.signup-wrapper p {
  margin: 0 0 10px;
  font-size: 14px !important;
  margin-bottom: 0 !important;
  line-height: 27px !important;
}

.top-footer input#email-signup {
  -webkit-appearance: none;
  border-radius: 0;
  float: left;
  border-radius: 21px 0 0 21px;
  color: #fff;
  border: 0;
  margin: 0;
  width: 182px;
  height: 29px;
  padding: 0 10px;
  background-color: #7ccada;
}

.top-footer input#email-submit {
  -webkit-appearance: none;
  border-radius: 0;
  float: left;
  border-radius: 0 21px 21px 0;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border: 0;
  margin: 0;
  width: 28px;
  height: 29px;
  padding: 0;
  background-color: #4f5757;
}

#email-signup-error {
    display: block;
    position: absolute;
    top: 60px;
    color:red;
    font-weight:700;
}

.top-footer a {
  display: inline-block;
}

.top-footer a:hover {
  text-decoration: none;
}

.top-footer a:hover button {
  color: #4f5757;
  background: #fff;
}

.bottom-footer {
    background-color: #4f5757;
    font-size: 14px;
    padding: 50px 0 50px;
    text-align: center;

    div.home-slot {
        height: unset;
        margin-bottom: 0;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #fbc52d;
        text-decoration: none;
    }
}

.bottom-footer, .bottom-footer p, .bottom-footer a {
  font-family: $font-regular;
  font-size: 15px;
  line-height: 23px;
}

.bottom-footer p.address {
  margin: 0 0 30px 0;
  color: #3db0c7;
}

.very-bottom-footer {
  background-color: #3b4443;
  font-size: 12px;
  padding: 10px 0;
  color: #fff;
  a {
    color: #fff;
  }
  a:hover {
    color: #fbc52d;
    text-decoration: none;
  }
  text-align: center;
}

/* RESPONSIVE */
@media (min-width: 480px) {

  #search {
    width: 376px;
  }

  #howcanwehelp, #metadatasearchbox {
    font-size: 23px;
  }
  #metadatasearchbox {
    width: auto;
  }

}

@media (min-width: 768px) {

  .navbar-right {
    margin-left: -15px;
  }

  .navbar-collapse.collapse {
    margin-top: -82px;
  }

  .navbar-right {
    padding-top: 82px;
  }

  #wrap {
    max-width: 414px;
  }
  /*	h1 {
  font-size: 45px;
  line-height: 50px;
}
  h2 {
  font-size: 22px;
}
  p:first-of-type {
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 20px;
}	*/

  .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 256px 0 20px;
  }
  .intro-header .site-heading.search {
    padding: 143px 0;
  }
  .sub li a span {
    margin-left: 20px;
  }

}

@media (min-width: 992px) {
  .bottom-footer p.address {
    margin: 0;
  }

  .top-footer {
    padding: 24px 0 20px 0;
  }

  .very-bottom-footer {
    text-align: left;
  }

}

@media only screen and (min-width: 1170px) {
  .container {
    width: 1270px;
  }
}

@media screen and (max-width: 768px) {
  .triangle-1 {
    display: none;
  }
  .triangle-0 {
    height: 32px;
  }
  .social-footer {
    display: block;
  }
  .menu-social-wrap .social-icons {
    display: none;
  }
  .quicklinks-bar, .login-bar {
    display: none;
  }
}

@media screen and (max-width: 550px) {

  .top-search {
    margin-left: 0;
    #howcanwehelp {
      width: 32px;
    }
  }



}

@media screen and (max-width: 414px) {
  #wrap {
    max-width: 360px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  #wrap {
    max-width: 320px;
  }

}

/* GOOGLY EYE */
#onepupil {
  position: relative;
  background: #565b5a;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

#oneeye {
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  left: 34px;
  top: 79px;
}

div.container ul.legal-list {
  list-style-type:none;
  li {
    margin-bottom:10px;
  }
}
