<table id="member-list">
	<thead>
		<tr>
			<th>Member Name & ID</th>            
		</tr>
	</thead>
	<tbody>

	{{ $.Scratch.Set "query" "flags.deposits-some-public-references" }}

	{{ if eq (.Get 0) "hasorcid" }}
		{{ $.Scratch.Set "query" "flags.deposits-orcids-current" }}
	{{ end }}

	{{ if eq (.Get 0) "hasdeposits" }}
		{{ $.Scratch.Set "query" "flags.deposits" }}
	{{ end }}

	{{ $fields := where (getJSON "/data/dashboard/member-list.json") ($.Scratch.Get "query") true }}	

	{{ $lower := sort $fields "primary-name" }}

	{{ $.Scratch.Set "lower_names" (slice) }}
	{{ range $lower }}
		{{ $.Scratch.Add "lower_names" (lower ( index . "primary-name" )) }}
	{{ end }}

	{{ .Scratch.Add "count" 0 }}
 	{{ range sort ($.Scratch.Get "lower_names") }}
 		{{ $lower_int := . }}
 		{{ range $int := $fields }}
        	{{ if eq $lower_int (lower ( index $int "primary-name" )) }}
				<tr>
					<td>{{ index . "primary-name" }} (ID {{ index . "id" }})</td>
				</tr>
			{{ end }}
		{{ end }}
	{{ end }}
	
	</tbody>

</table>

