{{ $apicall := .Get 0 }}
{{ $columntitles := .Get 1 }}

<table id="" class="member-list">
	<thead>
		<tr>
			<th>{{ $columntitles }}</th>  
		</tr>
	</thead>
	<tbody>

	
	{{ $data := getJSON ( printf "%s%s%s" .Site.Params.apiURL $apicall .Site.Params.apiUser)  }}

	{{ $publishernames := index $data.message.facets "publisher-name" }}


	{{ range $key, $value := $publishernames.values }}
	<tr>
		<td>
			<a href='{{ $.Site.Params.apiURL }}/members/{{ $value }}'>{{ $key }} (ID {{ $value }})</a>
		</td>
	</tr>
	{{ end }}


		
	
	</tbody>

</table>

