{{ if eq (.Get 0) "wrapper" }}

<div class="strategy-sections-wrapper">
	
{{- .Inner -}}

</div>

{{ else }}

<div class="strategy-section{{ if "style" }} {{ .Get "style" }}{{ end }}">
	
{{- .Inner -}}

</div>

{{ end }}