{{- $apicall := .Get 0 -}}

{{- if .Site.Params.offlinemode -}}
	<span class='withcommas'><strong>OFFLINE MODE ACTIVE</strong></span>
{{- else -}}
	{{- if or (eq $apicall "/members?rows=0") (eq $apicall "/works?rows=0") -}}
		{{- if eq $apicall "/members?rows=0" -}}
			{{- $data := getJSON "/data/dashboard/member-list.json" -}}
			<span class='withcommas'>{{- string (len $data) -}}</span>
		{{- end -}}
		{{- if eq $apicall "/works?rows=0" -}}
			<span class='withcommas'>{{- string (134524363) -}}</span>
		{{- end -}}
		{{- if eq $apicall "not giving us the right results/works?rows=0" -}}
			{{- $data := getJSON "/data/dashboard/member-list.json" -}}
			{{ $.Scratch.Add "totaldois" 0 }}
			{{- range $data -}}
				{{- $.Scratch.Add "totaldois" (index .counts "total-dois") -}}
			{{- end -}}
			<span class='withcommas'>{{- string ($.Scratch.Get "totaldois") -}}</span>
		{{- end -}}
	{{- else -}}
		{{- $data := getJSON ( printf "%s%s" .Site.Params.apiURL $apicall ) -}}
		<span class='withcommas'>
		{{- string (index $data.message "total-results") -}}</span>
	{{- end -}}
{{- end -}}
