<footer class='bottom-footer'>
    <div class="container">
        <div class="row">

            

            <div class="home-slot col-md-3 col-md-offset-1">
                {{ range .Site.Data.boilerplate.footer.col1 }}
                    {{ range .lines }}
                        {{ .line |markdownify }}<br />
                    {{ end }}
                {{ end }}
            </div>



            {{ range .Site.Data.boilerplate.footer.col2 }}

            <div class="home-slot home-slot-col2 col-md-3">
                {{ range .lines }}
                    {{ .line |markdownify }}<br />
                {{ end }}
            </div>
            
            {{ end }}

            {{ range .Site.Data.boilerplate.footer.col3 }}

            <div class="home-slot col-md-3">
                {{ range .lines }}
                    {{ .line |markdownify }}<br />
                {{ end }}
            </div>

            {{ end }}

    </div>
</footer>