    <footer class='top-footer'>
        <div class="container">
            <div class="row">
                <div class="home-slot col-md-3 col-md-offset-1">
                    <span class="strap">You are Crossref</span>
                </div>
                <div class="home-slot home-slot-col2 col-md-3">
                    <a href='{{ .Site.BaseURL }}/membership/'><button>Join the community</button></a>
                </div>
                <div class="home-slot col-md-3 strap">
                    <a href='{{ .Site.BaseURL }}/subscribe-newsletter/'><button>Get email updates</button></a>
                </div>
            </div>
        </div>
    </footer>
