    <!-- Bootstrap Core CSS -->
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/1873acdb2d.js"></script>

    <!-- DataTables default CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
    
    <!-- Chrome code highlighter CSS -->
    <link href="{{ .Site.BaseURL }}/css/syntax.css" rel="stylesheet">

    <!-- Crossref Custom CSS built by hugo -->
    {{ $styles := resources.Get "css/crossref.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}?v=20200515">
    {{ $styles := resources.Get "css/print.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}?v=20200515">
