{{ partial "header" . }}

{{ partial "ida-countries-js" .}}



<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header short">
    <div class="container short">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h1>{{ .Site.Data.join.questions.page_title }}</h1>
            </div>
        </div>
    </div>
</header>

<noscript>
    <div>
        <strong>It looks like you don't have javascript enabled so please contact us through one of the methods mentioned above.</strong>
        <style type="text/css">
            .contact-shortcode { display:none; }
        </style>
    </div>
</noscript>



<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class='firstpageonly'>
                {{ .Content }}
            </div>
        </div>
    </div>
</div>

<div class="join-steps-container">
    <ul class="triangular-steps">
        <li id="your-metadata" class="active"><a href="#0">{{ .Site.Data.join.questions.step_1_txt }}</a></li>
        <li id="your-details"><a href="#0">{{ .Site.Data.join.questions.step_2_txt }}</a></li>
        <li id="your-membership"><a href="#0">{{ .Site.Data.join.questions.step_3_txt }}</a></li>
    </ul>
</div>

<div class="required-text">
	<p>{{ .Site.Data.join.questions.required_txt }}</p>
</div>

<div class="jf-question-container">
    <form id="WebToLeadForm" action="https://formspree.io/{{ .Site.Params.formspree.deposit }}" method="POST" name="WebToLeadForm">




        <input type="text" name="_gotcha" style="display: none">
        <div class="section section-1 your-metadata" data-id="your-metadata">
            <div class="jf-question jf-question-1">                
                <div class="jf-question-wrap">



                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_2_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">

                        <div class="row">

                            <div class="col-md-9 no-margin">

                                <div class='the-question'>{{ .Site.Data.join.questions.question_2_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_2_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_2_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <fieldset>
                                    <label class="jf-label"> <input class="jf-question-option" type="radio" name="12_publishown" value="1"> <span></span> {{ .Site.Data.join.questions.question_2_answer_1 }}</label>
                                    <br>
                                    <label class="jf-label"> <input class="jf-question-option" type="radio" name="12_publishown" value="2"> <span></span> {{ .Site.Data.join.questions.question_2_answer_2 }}</label>
                                    <br>
                                    <label class="jf-label"> <input class="jf-question-option" type="radio" name="12_publishown" value="3"> <span></span> {{ .Site.Data.join.questions.question_2_answer_3 }}</label>
                                    <br>
                                </fieldset>

                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row"> 
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>





            <div class="jf-question jf-question-2">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_1_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_1_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_1_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_1_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class='the-terms'>{{ .Site.Data.boilerplate.memberterms.content | markdownify }}</div>
                                <fieldset>
                                    <label class="jf-label left-pad-label" for="agreement-modal"> <input type="checkbox" class="agreement-modal" name="agreement-modal" id="agreement-modal"><strong>{{ .Site.Data.join.questions.question_1_terms_checkbox }}</strong></label>
                                    <br>
                                </fieldset>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">                                        
                        <a class="next-question-nq">Next</a>
                    </div>
                </div>




            </div>
            <div class="jf-question jf-question-3">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_3_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_3_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_3_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_3_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step jf-accordion-step-1">
                                            <div class="jf-accordion-step-body">
                                                <fieldset>
                                                    <label for="first_name">{{ .Site.Data.join.questions.question_3_step_1_first_name }}</label>
                                                    <br>
                                                    <input type="text" name="14_first_name" id="first_name">
                                                    <br>
                                                    <label for="last_name">{{ .Site.Data.join.questions.question_3_step_1_last_name }}</label>
                                                    <br>
                                                    <input type="text" name="15_last_name" id="last_name">
                                                    <br>
                                                    <label for="email_address">{{ .Site.Data.join.questions.question_3_step_1_email_address }}</label>
                                                    <br>
                                                    <input type="email" name="16_email_address" id="email_address">
                                                    <br>

                                                    <label for="organisation_name">{{ .Site.Data.join.questions.question_3_step_1_org_name }}</label>
                                                    <br>
                                                    <input type="text" name="40_organisation_name" id="organisation_name">
                                                    <br>
                                                    {{ if ( .Site.Data.join.questions.question_2_help_bubble ) }}
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_3_step_1_help_bubble | markdownify}}</p>
                                                        </div>
                                                    {{ end }}


                                                    <label for="organisation_name_alt">{{ .Site.Data.join.questions.question_3_step_1_org_name_alt }}</label>
                                                    {{ if ( .Site.Data.join.questions.question_3_step_1_org_name_alt_help_bubble ) }}
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_3_step_1_org_name_alt_help_bubble | markdownify}}</p>
                                                        </div>
                                                    {{ end }}
                                                    <br> 
                                                    <input type="text" name="40_organisation_name_alt" id="organisation_name_alt">
                                                    <br>


                                                    <label for="postal_address">{{ .Site.Data.join.questions.question_3_step_1_postal_address }}</label>
                                                    <br>
                                                    <fieldset name="postal_address" id="postal_address">
                                                        <input type="text" name="17_postal_street_1" id="postal_street_1" placeholder="Street Number">
                                                        <br>
                                                        <input type="text" name="19_postal_street_2" id="postal_street_2" placeholder="Street Name">
                                                        <br>
                                                        <input type="text" name="20_postal_city" id="postal_city" placeholder="Town/City">
                                                        <br>
                                                        <input type="text" name="21_postal_state" id="postal_state" placeholder="State/County (if applicable)">
                                                        <br>
                                                        <input type="text" name="22_postal_postal_code" id="postal_postal_code" placeholder="Postal/Zip Code">
                                                        <br>
                                                        <label for="postal_country">{{ .Site.Data.join.questions.question_3_step_1_country }}</label>
                                                        <br>
                                                        <select id="postal_country" class="ignoreme typeahead_postal required" name="23_postal_country">
                                                            <option disabled selected="selected" value>-- Select your country --</option>
                                                            {{ $currentNode := . }}
                                                            {{ range .Site.Data.boilerplate.countries.dropdown.country }}
                                                            <option value="{{ .value }}">{{ .value }}</option>
                                                            {{ end }}
                                                        </select>
                                                        <br>

                                                    </fieldset>


                                                    <label for="organisation_url">{{ .Site.Data.join.questions.question_3_step_1_org_url }}</label>
                                                    {{ if ( .Site.Data.join.questions.question_3_step_1_org_url_help_bubble ) }}
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_3_step_1_org_url_help_bubble | markdownify}}</p>
                                                        </div>
                                                    {{ end }}
                                                    <input type="url" name="43_organisation_url" id="organisation_url">
                                                    <br>
                                                    <label for="organisation_url_published_content">{{ .Site.Data.join.questions.question_3_step_1_org_url_published_content }}</label>
                                                    {{ if ( .Site.Data.join.questions.question_3_step_1_org_url_published_content_help_bubble ) }}
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_3_step_1_org_url_published_content_help_bubble | markdownify}}</p>
                                                        </div>
                                                    {{ end }}
                                                    <input type="url" name="43_organisation_url_published_content" id="organisation_url_published_content">
                                                    <br>

                                                   <div class="question-name">{{ .Site.Data.join.questions.question_3_org_profit }}</div>

                                                    <fieldset>
                                                        <label class="jf-label" for="profit_or_not_for_profit_c_profit" >
                                                            <input id="profit_or_not_for_profit_c_profit" type="radio" name="41_profit_or_not_for_profit" value="profit" />
                                                            <span></span>
                                                            {{ .Site.Data.join.questions.question_3_org_profit_label_for }}
                                                        </label>
                                                        <br>
                                                        <label class="jf-label">
                                                            <input id="profit_or_not_for_profit_c_not_for_profit" type="radio" name="41_profit_or_not_for_profit" value="not_for_profit"/>
                                                            <span></span>
                                                            {{ .Site.Data.join.questions.question_3_org_profit_label_not }}
                                                        </label>
                                                        <br>
                                                    </fieldset>

                                                    <label for="organisation_type">{{ .Site.Data.join.questions.question_3_step_1_org_type }}</label>
                                                    <br>
                                                    <select id="organisation_type" class='multiselect' name="42_organisation_type" multiple>
                                                        <option disabled selected value> -- Select your organization type --</option>
                                                        {{ $currentNode := . }}
                                                        {{ range .Site.Data.boilerplate.organization_type.dropdown.type }}
                                                        <option value="{{ .value }}">{{ .title }}</option>
                                                        {{ end }}
                                                    </select>
                                                    <br>
                                                    <div id='org_type_other_block' style='display:none;'>
                                                        <label for="organisation_type_other">{{ .Site.Data.join.questions.question_3_step_1_org_type_other }}</label>
                                                        <br>
                                                        <input type="text" name="43_organisation_type_other" id="organisation_type_other">
                                                        <br>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-container container">
                    <div class="row">
                        <a href="#" class="next-section">Next</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="section section-2 your-details" data-id="your-details">
            <div class="jf-question jf-question-4">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_4_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">

                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div id='full-revenue-question' class='the-question'>{{ .Site.Data.join.questions.question_4_question }}</div>
                                <div id='pre-funder-revenue-question' class='the-question' style='display:none;'>{{ .Site.Data.join.questions.question_4b_question }}</div>
                               

                                <div class="accordion-type awardblock" style='display:none;'>
                                    <fieldset id='award-or-publish' style='display:none;'>
                                        <select id="select_award_or_publish" name="select_award_or_publish">
                                            <option disabled selected value>{{ .Site.Data.join.questions.question_4_first_select_awardpublish }}</option>
                                            {{ $currentNode := . }}
                                            {{ range .Site.Data.join.questions.awardpublish.option }}
                                            <option value="{{ .key }}">{{ .value }}</option>
                                            {{ end }}
                                        </select>
                                        <br>
                                    </fieldset>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-9 no-margin">

                                <div id='funderidwrapper' style='display:none;'>
                                    <div id='funder-question' class='the-question'>{{ .Site.Data.join.questions.question_4c_question }}</div>
                                    {{ if ( .Site.Data.join.questions.question_4_help_bubble ) }}
                                        <div id='funder-question-info-para' class="info-para">
                                            <p>{{ .Site.Data.join.questions.question_4c_help_bubble | markdownify}}</p>
                                        </div>
                                    {{ end }}
                                     <fieldset>
                                        <label class="jf-label"> <input id='funderid_unknown' class="jf-question-option" type="radio" name="have_a_funder_id" value="No"> <span></span> {{ .Site.Data.join.questions.question_4c_answer_1 }}</label>
                                        <br>
                                        <label class="jf-label"> <input id='funderid_known' class="jf-question-option" type="radio" name="have_a_funder_id" value="Yes"> <span></span> {{ .Site.Data.join.questions.question_4c_answer_2 }}</label>
                                        <br>
                                        <br>
                                    </fieldset>
                                    <div id='havefundertrue' class="jf-accordion" style='display:none;'>
                                        <fieldset>
                                            <div class='the-question'>{{ .Site.Data.join.questions.question_4c_have_funder }}</div>
                                            <input type="text" name="funder_id" id="funder_id">
                                            <br />
                                        </fieldset>
                                    </div>
                                    <br />
                                </div>


                                <div id='full-revenue-question-lower' class='the-question' style='display:none;'>{{ .Site.Data.join.questions.question_4_question }}</div>
                                <div id='short-revenue-question' class='the-question' style='display:none;'>{{ .Site.Data.join.questions.question_4_question_alt }}</div>
                                {{ if ( .Site.Data.join.questions.question_4_help_bubble ) }}
                                    <div id='full-revenue-info-para' class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_4_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                {{ if ( .Site.Data.join.questions.question_4_alt_help_bubble ) }}
                                    <div id='short-revenue-info-para' class="info-para" style='display:none;'>
                                        <p>{{ .Site.Data.join.questions.question_4_alt_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}


                               

                                <fieldset class='accordion-type' id='full-revenue-list'>
                                    <select id="organisation_revenue_full" name="44_organisation_revenue">
                                        <option disabled selected value>{{ .Site.Data.join.questions.question_4_first_select }}</option>
                                        {{ $currentNode := . }}
                                        {{ range .Site.Data.boilerplate.organization_revenue.dropdown.revenue }}
                                        <option value="{{ .value }}">{{ .title }}</option>
                                        {{ end }}
                                    </select>
                                    <br>
                                </fieldset>
                                <fieldset class='accordion-type' id='short-revenue-list' style='display:none;'>
                                    <label for="organisation_revenue">{{ .Site.Data.join.questions.question_4_revenue }}</label>
                                    <br>
                                    <select id="organisation_revenue_short" name="44_organisation_revenue">
                                        <option disabled selected value>{{ .Site.Data.join.questions.question_4_first_select_alt }}</option>
                                        {{ $currentNode := . }}
                                        {{ range .Site.Data.boilerplate.organization_revenue.short.revenue }}
                                        <option value="{{ .value }}">{{ .title }}</option>
                                        {{ end }}
                                    </select>
                                    <br>
                                </fieldset>
                                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>

            <div class="jf-question jf-question-5">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_5_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_5_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_5_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_5_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step jf-accordion-step-1">
                                            <div class="jf-accordion-step-body">
                                                <fieldset>
                                                    <label for="same_as_postal_address"><input type="checkbox" id="same_as_postal_address" name="same_as_postal_address" value="same_as_postal_address" data-id="same_as_postal_address"/><span></span>{{ .Site.Data.join.questions.question_5_checkbox }}</label>

                                                    <fieldset name="billing_address" id="billing_address">
                                                        <input type="text" name="17_billing_street_1" id="billing_street_1" placeholder="Street Number">
                                                        <br>
                                                        <input type="text" name="19_billing_street_2" id="billing_street_2" placeholder="Street Name">
                                                        <br>
                                                        <input type="text" name="20_billing_city" id="billing_city" placeholder="Town/City">
                                                        <br>
                                                        <input type="text" name="21_billing_state" id="billing_state" placeholder="State/County (if applicable)">
                                                        <br>
                                                        <input type="text" name="22_billing_postal_code" id="billing_postal_code" placeholder="Postal/Zip Code">
                                                        <br>
                                                        <label for="billing_country">{{ .Site.Data.join.questions.question_3_step_1_country }}</label>
                                                        <br>
                                                        <select id="billing_country" class="ignoreme typeahead_billing required" name="23_billing_country">
                                                            <option selected="selected" value> -- Select your country --</option>
                                                            {{ $currentNode := . }}
                                                            {{ range .Site.Data.boilerplate.countries.dropdown.country }}
                                                            <option value="{{ .value }}">{{ .value }}</option>
                                                            {{ end }}
                                                        </select>
                                                        <br>
                                                    </fieldset>
                                                    <label for="billing_extra_info">{{ .Site.Data.join.questions.question_5_extra_info }}</label>
                                                    <br>
                                                    <textarea rows="4" cols="50" type="text" name="billing_extra_info" id="billing_extra_info" data-js="billing_extra_info"></textarea>
                                                    <br>

                                                </fieldset>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>


            <div class="jf-question jf-question-6">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_6_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_6_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_6_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_6_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step jf-accordion-step-3">
                                            <div class="jf-accordion-step-body jf-wide">
                                                <h4>Some contacts can be used for more than one role</h4>
                                                <hr>
                                                <div class="jf-contacts-container">
                                                    <div class="jf-contact jf-contact-1">
                                                        <div class="jf-contact-title">
                                                            {{ .Site.Data.join.questions.question_6_contact_1_title }}
                                                        </div>
                                                        {{ if ( .Site.Data.join.questions.question_6_contact_1_help_bubble ) }}
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_6_contact_1_help_bubble | markdownify}}</p>
                                                        </div>
                                                        {{ end }}
                                                        <div class="jf-contact-body">
                                                            <fieldset data-parent="same_as_business_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="contact_1_first_name">First Name</label>
                                                                        <br>
                                                                        <input type="text" name="24_primary_contact_first_name"  id="contact_1_first_name" data-js="first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_1_last_name">Last Name</label>
                                                                        <br>
                                                                        <input type="text" name="24_primary_contact_last_name" id="contact_1_last_name" data-js="last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_1_email">Email</label>
                                                                        <br>
                                                                        <input type="email" name="24_primary_contact_email" id="contact_1_email" data-js="email" class="uniqueish">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div id='voting-contact' class="jf-contact jf-contact-1">
                                                        <div class="jf-contact-title">
                                                            {{ .Site.Data.join.questions.question_6_contact_3_title }}
                                                        </div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_6_contact_3_help_bubble | markdownify}}</p>
                                                        </div>
                                                        <div class="jf-contact-body">
                                                            <label for="same_as_business_contact"><input type="checkbox" id="same_as_business_contact" name="same_as_business_contact" value="same_as_business_contact" data-id="same_as_business_contact"/><span></span>{{ .Site.Data.join.questions.question_6_contact_3_checkbox }}</label>
                                                            <fieldset data-parent="same_as_business_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="contact_3_first_name">First Name</label>
                                                                        <br>
                                                                        <input type="text" name="26_voting_contact_first_name"  id="contact_3_first_name" data-js="first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_3_last_name">Last Name</label>
                                                                        <br>
                                                                        <input type="text" name="26_voting_contact_last_name" id="contact_3_last_name" data-js="last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_3_email">Email</label>
                                                                        <br>
                                                                        <input type="email" name="26_voting_contact_email" id="contact_3_email" data-js="email" class="uniqueish">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    <hr>
                                                    </div>
                                                    <div class="jf-contact jf-contact-1">
                                                        <div class="jf-contact-title">
                                                            {{ .Site.Data.join.questions.question_6_contact_4_title }}
                                                        </div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_6_contact_4_help_bubble | markdownify}}</p>
                                                        </div>
                                                        <div class="jf-contact-body">
                                                            <fieldset data-parent="same_as_business_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="contact_4_first_name">First Name</label>
                                                                        <br>
                                                                        <input type="text" name="27_technical_contact_first_name"  id="contact_4_first_name" data-js="first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_4_last_name">Last Name</label>
                                                                        <br>
                                                                        <input type="text" name="27_technical_contact_last_name" id="contact_4_last_name" data-js="last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_4_email">Email</label>
                                                                        <br>
                                                                        <input type="email" name="27_technical_contact_email" id="contact_4_email" data-js="email" class="uniqueish">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    
                                                    <div class="jf-contact jf-contact-1">
                                                        <div class="jf-contact-title">
                                                            {{ .Site.Data.join.questions.question_6_contact_6_title }}
                                                        </div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_6_contact_6_help_bubble | markdownify}}</p>
                                                        </div>
                                                        <div class="jf-contact-body">
                                                            <label for="same_as_technical_contact"><input type="checkbox" id="same_as_technical_contact" name="same_as_technical_contact" value="same_as_technical_contact" data-id="same_as_technical_contact"/><span></span>Same as Technical contact?</label>
                                                            <fieldset data-parent="same_as_technical_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="contact_6_first_name">First Name</label>
                                                                        <br>
                                                                        <input type="text" name="29_metadata_quality_contact_first_name"  id="contact_6_first_name" data-js="first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_6_last_name">Last Name</label>
                                                                        <br>
                                                                        <input type="text" name="29_metadata_quality_contact_last_name" id="contact_6_last_name" data-js="last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_6_email">Email</label>
                                                                        <br>
                                                                        <input type="email" name="29_metadata_quality_contact_email" id="contact_6_email" data-js="email" class="uniqueish">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="jf-contact jf-contact-1">
                                                        <div class="jf-contact-title">
                                                            {{ .Site.Data.join.questions.question_6_contact_7_title }}
                                                        </div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.join.questions.question_6_contact_7_help_bubble | markdownify}}</p>
                                                        </div>
                                                        <div class="jf-contact-body">
                                                            <fieldset data-parent="same_as_business_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="contact_7_first_name">First Name</label>
                                                                        <br>
                                                                        <input type="text" name="30_billing_contact_first_name"  id="contact_7_first_name" data-js="first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_7_last_name">Last Name</label>
                                                                        <br>
                                                                        <input type="text" name="30_billing_contact_last_name" id="contact_7_last_name" data-js="last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_7_email">Email</label>
                                                                        <br>
                                                                        <input type="email" name="30_billing_contact_email" id="contact_7_email" data-js="email" class="uniqueish">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>

            <div class="jf-question jf-question-6b">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_6b_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">


                        <div class="row">
                                <div class="col-md-9 no-margin">
                                    <div class='the-question'>{{ .Site.Data.join.questions.question_6b_question }}</div>
                                    {{ if ( .Site.Data.join.questions.question_6b_help_bubble ) }}
                                        <div class="info-para">
                                            <p>{{ .Site.Data.join.questions.question_6b_help_bubble | markdownify}}</p>
                                        </div>
                                    {{ end }}
                                    <div class="jf-accordion">
                                        <div class="jf-accordion-steps">
                                            <div class="jf-accordion-step jf-accordion-step-3">
                                                <div class="jf-accordion-step-body jf-wide">
                                                    
                                                    <div class="jf-contacts-container">
                                                        
                                                        <div class="jf-contact jf-contact-1">
                                                            <div class="jf-contact-title">
                                                                {{ .Site.Data.join.questions.question_6b_contact_2_title }}
                                                            </div>
                                                            <div class="info-para">
                                                                <p>{{ .Site.Data.join.questions.question_6b_contact_2_help_bubble | markdownify}}</p>
                                                            </div>
                                                            <div class="jf-contact-body">
                                                                <fieldset data-parent="same_as_business_contact">
                                                                    <ul class="jf-contact-form-wrap">
                                                                        <li>
                                                                            <label for="contact_2_first_name">First Name</label>
                                                                            <br>
                                                                            <input type="text" name="25_resolution_contact_first_name"  id="contact_2_first_name" data-js="first_name">
                                                                            <br>
                                                                        </li>
                                                                        <li>
                                                                            <label for="contact_2_last_name">Last Name</label>
                                                                            <br>
                                                                            <input type="text" name="25_resolution_contact_last_name" id="contact_2_last_name" data-js="last_name">
                                                                            <br>
                                                                        </li>
                                                                        <li>
                                                                            <label for="contact_2_email">Email</label>
                                                                            <br>
                                                                            <input type="email" name="25_resolution_contact_email" id="contact_2_email" data-js="email" class="uniqueish">
                                                                            <br>
                                                                        </li>
                                                                    </ul>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="jf-contact jf-contact-1">
                                                            <div class="jf-contact-title">
                                                                {{ .Site.Data.join.questions.question_6b_contact_5_title }}
                                                            </div>
                                                            <div class="info-para">
                                                                <p>{{ .Site.Data.join.questions.question_6b_contact_5_help_bubble | markdownify}}</p>
                                                            </div>
                                                            <div class="jf-contact-body">
                                                                <fieldset data-parent="same_as_business_contact">
                                                                    <ul class="jf-contact-form-wrap">
                                                                        <li>
                                                                            <label for="contact_5_first_name">First Name</label>
                                                                            <br>
                                                                            <input type="text" name="28_technical_extra_contact_first_name"  id="contact_5_first_name" data-js="first_name">
                                                                            <br>
                                                                        </li>
                                                                        <li>
                                                                            <label for="contact_5_last_name">Last Name</label>
                                                                            <br>
                                                                            <input type="text" name="28_technical_extra_contact_last_name" id="contact_5_last_name" data-js="last_name">
                                                                            <br>
                                                                        </li>
                                                                        <li>
                                                                            <label for="contact_5_email">Email</label>
                                                                            <br>
                                                                            <input type="email" name="28_technical_extra_contact_email" id="contact_5_email" data-js="email" class="uniqueish">
                                                                            <br>
                                                                        </li>
                                                                    </ul>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="jf-contact jf-contact-1">
                                                            <div class="jf-contact-title">
                                                                {{ .Site.Data.join.questions.question_6b_contact_8_title }}
                                                            </div>
                                                            <div class="info-para">
                                                                <p>{{ .Site.Data.join.questions.question_6b_contact_8_help_bubble | markdownify}}</p>
                                                            </div>
                                                            <div class="jf-contact-body">
                                                                <fieldset data-parent="same_as_business_contact">
                                                                    <ul class="jf-contact-form-wrap">
                                                                        <li>
                                                                            <label for="contact_8_first_name">First Name</label>
                                                                            <br>
                                                                            <input type="text" name="31_billing_extra_contact_first_name"  id="contact_8_first_name" data-js="first_name">
                                                                            <br>
                                                                        </li>
                                                                        <li>
                                                                            <label for="contact_8_last_name">Last Name</label>
                                                                            <br>
                                                                            <input type="text" name="31_billing_extra_contact_last_name" id="contact_8_last_name" data-js="last_name">
                                                                            <br>
                                                                        </li>
                                                                        <li>
                                                                            <label for="contact_8_email">Email</label>
                                                                            <br>
                                                                            <input type="email" name="31_billing_extra_contact_email" id="contact_8_email" data-js="email" class="uniqueish">
                                                                            <br>
                                                                        </li>
                                                                    </ul>
                                                                </fieldset>
                                                            </div>
                                                        </div>                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a href="#" class="prev-section">Back</a>
                        <a href="#" class="next-section">Next</a>
                    </div>
                </div>
            </div>
           
            
        </div>
        <div class="section section-3 your-membership" data-id="your-membership">

             <div class="jf-question jf-question-7">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_7_title }}</span>
                    </div>
                    <div class="jf-question-body  deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_7_question }}</div>

                                {{ if ( .Site.Data.join.questions.question_7_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_7_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step jf-accordion-step-1">
                                            <div class="jf-accordion-step-body">
                                                
                                                <fieldset>

                                                    <select id="registration_method" class="ignoreme" name="registration_method">
                                                        <option disabled selected value> -- Select your method --</option>
                                                        {{ $currentNode := . }}
                                                        {{ range .Site.Data.boilerplate.register_content_methods.dropdown.method }}
                                                        <option value="{{ .value }}">{{ .value }}</option>
                                                        {{ end }}
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>

             <div class="jf-question jf-question-8">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_8_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_8_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_8_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_8_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step jf-accordion-step-1">
                                            <div class="jf-accordion-step-body">                                                
                                                
                                                <fieldset>
                                                    <label class="jf-label"> <input id='show_platform_list' class="jf-question-option" type="radio" name="work_with_platform" value="yes"> <span></span> Yes</label>
                                                    <br>
                                                    <label class="jf-label"> <input id='hide_platform_list' class="jf-question-option" type="radio" name="work_with_platform" value="no"> <span></span> No</label>
                                                    <br>
                                                    <fieldset id='platform' style='display:none;'>
                                                        <div class='the-question'>{{ .Site.Data.join.questions.question_8_question_extra }}</div>
                                                        <select id="registration_platform" class="ignoreme" name="platform">
                                                            <option disabled selected value> -- Select your platform --</option>
                                                            {{ $currentNode := . }}
                                                            {{ range .Site.Data.boilerplate.content_platforms.dropdown.platform }}
                                                            <option value="{{ .value }}">{{ .value }}</option>
                                                            {{ end }}
                                                        </select>
                                                        <fieldset id='8_extra' style='display:none;'>
                                                            <input type="text" name="other_registration_platform" id="question_8_question_extra" data-js="last_name">
                                                            <br>
                                                        </fieldset>
                                                    </fieldset>
                                                </fieldset>
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>


             <div class="jf-question jf-question-9">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_9_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class='the-question'>{{ .Site.Data.join.questions.question_9_question }}</div>
                                {{ if ( .Site.Data.join.questions.question_9_help_bubble ) }}
                                    <div class="info-para">
                                        <p>{{ .Site.Data.join.questions.question_9_help_bubble | markdownify}}</p>
                                    </div>
                                {{ end }}
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step jf-accordion-step-1">
                                            <div class="jf-accordion-step-body">                                                
                                                
                                                <fieldset>
                                                    <textarea rows="4" cols="50" type="text" name="any_further_info" id="any_further_info" data-js="any_further_info"></textarea>
                                                    <br>
                                                </fieldset>
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question">Next</a>
                    </div>
                </div>
            </div>


            <div class="jf-question jf-question-10">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.join.questions.question_10_title }}</span>
                    </div>
                    <div class="jf-question-body deposit container">

                        <div class="row">
                            <div class="col-md-12 no-margin">

                                <h3>{{ .Site.Data.join.questions.review_step_information_help }}</h3>

                                <table class="jf-membership-table" id="membership-table">
                                    <tr>
                                        <td>Your Name</td>
                                        <td class="membership_full_name">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#first_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>Your Email</td>
                                        <td class="membership_email">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#email_address"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>Your Postal Address</td>
                                        <td class="membership_postal_address">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#postal_address"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>Country</td>
                                        <td class="membership_country">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#postal_country"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ .Site.Data.join.questions.review_step_membership_contact_one }}</td>
                                        <td class="membership_contact_one">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-question-5" data-id="#contact_1_first_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>{{ .Site.Data.join.questions.review_step_membership_contact_two }}</td>
                                        <td class="membership_contact_two">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-3" data-id="#contact_2_first_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>{{ .Site.Data.join.questions.review_step_membership_contact_three }}</td>
                                        <td class="membership_contact_three">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-3" data-id="#contact_3_first_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr class="hide-get-meta">
                                        <td>{{ .Site.Data.join.questions.review_step_membership_contact_four }}</td>
                                        <td class="membership_contact_four">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-3" data-id="#contact_4_first_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr class="hide-get-meta hide-publishown">
                                        <td>{{ .Site.Data.join.questions.review_step_membership_contact_five }}</td>
                                        <td class="membership_contact_five">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-3" data-id="#contact_5_first_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Organisation Name</td>
                                        <td class="membership_org_name">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#organisation_name"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>Organisation Type</td>
                                        <td class="membership_org_type">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#organisation_type"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr>
                                        <td>Organisation Url</td>
                                        <td class="membership_org_url">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#organisation_url"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr id='membership_org_revenue_full'>
                                        <td>Organisation Revenue</td>
                                        <td class="membership_org_revenue_full">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#organisation_revenue_full"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                    <tr id='membership_org_revenue_short' style='display:none;'>
                                        <td>Organisation Revenue</td>
                                        <td class="membership_org_revenue_short">xxx xxx xxx</td>
                                        <td><a class="jf-btn-small yellow" data-parent=".jf-accordion-step-1" data-id="#organisation_revenue_short"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                    </tr>
                                </table>

                               
                                <div class="btn-container container">
                                    <div class="row">
                                        <a href="#" class="prev-section">Back</a>
                                        <button class="jf-sumbit-form disabled" type="button" name="Submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="IDA_Country" name="IDA_Country" value="NOTSET" />
        <input type="hidden" id="OFAC_country" name="OFAC_country" value="false" />
        <input type="hidden" name="_subject" value="{{ .Site.Data.join.questions.subject_line }}" />
        <input type="hidden" name="_next" value="{{ .Site.BaseURL }}{{ .Site.Data.join.questions.thank_you_page }}" />
        <input type="hidden" name="_replyto" id="special-replyto" value="" />
        <input type="hidden" name="_message" value="{{ .Site.Data.join.questions.message }}" />
        <input type="hidden" name="UserAgent" id="UserAgent" value="" />
    </form>


    <form method="post" id="join-flow-short-form">
        <div class="section section-2-exit-the-flow short-form" data-id="exit-flow" style="display: none;">
            <div class="jf-question jf-question-6">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="number" id="number">2</span>
                        <span class="title">Someone will contact you about membership options.</span>
                    </div>
                    <div class="jf-question-body deposit container">
                        <h2>Thank You.</h2>
                        <div id="notification-message">Please provide your name, email address, organization name. Someone will contact you about membership options.</div>

                        <div class="jf-accordion">
                            <div class="jf-accordion-steps">
                                <div class="jf-accordion-step">
                                    <div class="jf-accordion-step-body">
                                        <fieldset>
                                            <label for="sf_first_name">First Name</label>
                                            <br>
                                            <input type="text" name="sf_first_name_c" id="sf_first_name">
                                            <br>
                                            <label for="sf_last_name">Last Name</label>
                                            <br>
                                            <input type="text" name="sf_last_name_c" id="sf_last_name">
                                            <br>
                                            <label for="sf_org_name">Organisation Name</label>
                                            <br>
                                            <input type="text" name="sf_org_name_c" id="sf_org_name">
                                            <br>
                                            <label for="sf_email">Your Email Address</label>
                                            <br>
                                            <input type="email" name="sf_email_c" id="sf_email">
                                            <br>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



</div>


{{ partial "footer.html" . }}
